<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque illo, velit quisquam autem ipsam fugit. Et, accusantium at. Deleniti molestias repellendus perferendis aperiam, illo atque nisi facere. Exercitationem, voluptate aliquid. Neque nihil laborum, at quaerat deleniti consequatur deserunt distinctio consequuntur veniam ipsa nulla illo accusantium totam rem ratione omnis amet nostrum voluptates quibusdam dignissimos voluptatem ea. Quo alias veniam ipsum. Voluptatibus doloribus, atque suscipit cum quo asperiores provident ea assumenda nobis quae inventore at eaque, ex, impedit consequatur a! Ullam officiis ipsam recusandae obcaecati libero nisi id consectetur eum neque!</p>



<%= image_tag 'helios.jpg', :class => "imagen" %>